*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

header{
	width:100%;
	margin:0 auto;
	padding:20px 0;
	text-align:center;
}

.nav{
	border-top:solid 1px #333;
	border-bottom:solid 1px #333;
	text-align:center;
	list-style:none;
}

.list{
	display:inline-block;
	padding:15px 20px;
}

.main{
	width:800px;
	height:700px;
	margin:0 auto;
	padding:50px 0;
}
.box1{
	margin:0 auto;
	width:200px;
	height:200px;
	background-color:#e6ffe9;
	float:left;
}
.box2{
	margin:0 auto;
	width:200px;
	height:200px;
	background-color:#cbffd3;
	float:left;
}
.box3{
	margin:0 auto;
	width:200px;
	height:200px;
	background-color:#aeffbd;
	float:left;
}
.box4{
	margin:0 auto;
	width:200px;
	height:200px;
	background-color:#93ffab;
	float:left;
}
.box5{
	margin:0 auto;
	width:200px;
	height:200px;
	background-color:#f3ffd8;
	float:left;
}
.box6{
	margin:0 auto;
	width:200px;
	height:200px;
	background-color:#edffbe;
	float:left;
}
.box7{
	margin:0 auto;
	width:200px;
	height:200px;
	background-color:#e9ffa5;
	float:left;
}
.box8{
	margin:0 auto;
	width:200px;
	height:200px;
	background-color:#e4ff8d;
	float:left;
}
.box9{
	margin:0 auto;
	width:200px;
	height:200px;
	background-color:#d9e5ff;
	float:left;
}
.box10{
	margin:0 auto;
	width:200px;
	height:200px;
	background-color:#bad3ff;
	float:left;
}
.box11{
	margin:0 auto;
	width:200px;
	height:200px;
	background-color:#a4c6ff;
	float:left;
}
.box12{
	margin:0 auto;
	width:200px;
	height:200px;
	background-color:#8eb8ff;
	float:left;
}

footer{
	width:100%
	height:120px;
	background-color:#848282;
	text-align:center;
	line-height:120px;
}
.footer-text{
	color:#fff;
}